


body {
     font-family: "Jali Greek Variable", "Jali Greek", sans-serif;
}

#card-preview {
    position: relative;
    width: 372px;
    height: 520px;
    overflow: hidden;
}

/* --- Illustration : la couche la plus basse --- */
.card-illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#preview-illustration {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* --- Fond transparent / cadre décoratif --- */
.back-card {
    position: relative;
    z-index: 2; /* au-dessus de l’illustration */
    pointer-events: none; /* permet les clics à travers */
}

#card-background {
    object-fit: cover;
    display: block;
    position: absolute;
}

/* --- Contenu textuel et symboles --- */
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3; /* tout au-dessus */
}

/* Texte et stats */
.card-name {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.card-effect {
    position: absolute;
    bottom: 170px;
    left: 25px;
    right: 20px;
    color: #000;
    font-size: 14px;
}

.card-type {
    position: absolute;
    top: 53px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 14px;
}

.card-hand-cost,
.card-reserve-cost,
.card-earth,
.card-leaf,
.card-ocean {
    position: absolute;
    color: #fff;
    text-shadow: 0 0 4px #000;
    z-index: 4;
}

.card-hand-cost { 
    top: 25px; left: 30px; 
    font-family: "Work Sans";
    font-size: 28px;
    font-weight: bold;
}
.card-reserve-cost { 
    top: 45px; left: 57px; 
    font-family: "Work Sans";
    font-size: 25px;
    font-weight: bold;
}
.card-earth { 
    font-size: 24px;
    top: 113px; left: 40px; 
}
.card-leaf { 
    font-size: 24px;
    top: 145px; left: 40px; 
}
.card-ocean { 
    font-size: 24px;
    top: 175px; left: 40px; 
}
